* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100dvh;
  background-color: #000;
  background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
  background-size: cover;
  background-position: center;
}

li{
  list-style: none;
}

 a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover{
  color: orange;
}


/* NAV CONTENT */

header{
  position: relative;
  padding: 0 2rem;
}

.nav-content{
     width: 100%; 
     height: 60px;
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.nav-content .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-content .links{
  display: flex;
  gap:2rem
}

.nav-content .toggle-btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.action-btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  border-top-left-radius: 0px;
  transition: scale 0.2s ease;
}

button{
    background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: scale 0.2s ease;
}
 .action-btn:hover{
  color: lightblue;
  scale: 0.95;
  border-top-left-radius: 20px;
 }


 p{
  color: #fff;
  font-size: 1.5rem;
  padding-top: 50px;
 }

 .action-btn:active{
  scale: 0.95;
 }

 button:hover{
   color: lightblue;
  scale: 0.95;
  border-top-left-radius: 20px;
 }

 button:active{
  scale: 0.95;
 }

 /* RESPONSIVE DESIGN */

 @media (max-width: 992px) {
  .nav-content .links, 
  .nav-content .action-btn {
    display: none;
  }

  .nav-content .toggle-btn{
    display: block;
  }
 }

 .wrapper{
  display: flex;
  align-items: center;
  min-height: 100dvh;
  position: relative;
  padding-left: 30px;
  
 }

 .wrapper .container-1{
  background-color: white;
  margin-left: 20px;
  padding-left: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-top: 7px;
  
 }

 .wrapper .container-2{
  background-color: grey;
  margin-top: 70px;
   padding-left: 7px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-top: 7px;
 }

 /* DROPDOWN MENU */

 .dropdown-menu{
  position: absolute;
  right: 2rem;
  top: 50px;
  width: 300px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  display: none;
  height: 0;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }

 .dropdown-menu.open{
  height: 240px;
 }

 .dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .dropdown-menu .action-btn{
  width: 100%;
  display: flex;
  justify-content: center;
 }

   /* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .nav-content .links,
.nav-content .action-btn {
  display: none;
}

.nav-content .toggle-btn{
  display: block;
}

.dropdown-menu{
  display: block;
}

}

 @media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
 }

 section#hero{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
 }

 #hero h1{
  font-size: 3rem;
  margin-bottom: 1rem;
 }

 .social-links  {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  gap: 10px;   
  font-size: 5rem;
}
